:root {
    --primary-background: #494f53;
    --primary-calc: #1C2833;
    --primary-button: #58b838;
    --secondary-button: #b89a38;
    --primary-text: #58b838;
    --secondary-text: white;
    --primary-calcseparator: #233241;
    --primary-dashboard: #24303b;
}


html { /* for footer support! */
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: 'Oswold', sans-serif;
    margin-bottom: 100px;
}

button {
    width: 100%;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid ;
    background-color: var(--primary-button);
    color: var(--secondary-text);
    font-family: inherit;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 25px;
    
}

.header {
    padding: 45px 0;
}

.title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.main {
    display: flex;
    align-items: center;
    justify-self: center;
}

.calculator {
    margin: 0 auto; 

}
.calctop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 500px;
    background-color: var(--primary-calc);
    border-radius: 20%;
    margin-bottom: -40px;
    
}

.calcseparator {
    height: 20px;
    width: 500px;
    margin: 0 auto;
    background-color: var(--primary-calcseparator);
}
.calcbottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 500px;
    background-color: var(--primary-calc);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.dashboard {
    height: 80px;
    width: 460px;
    background-color: var(--primary-dashboard);
    margin-bottom: 30px;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 15px;
    gap: 25px;
}

#clear {
    width: 100%;
    border-radius: 50%;
    grid-column: 1 / span 2;
    background-color: var(--secondary-button);
}

#zero {
    width: 100%;
    border-radius: 50%;
    grid-column: 1 / span 2;
    background-color: var(--secondary-button);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 18px;
}

.fa-github {
    color: var(--primary-button);
    font-size: 40px;
    transition: transform 0.1s ease-in-out;
}

.fa-github:hover {
    transform: scale(1.2);
}

@media (max-width: 1200px) {
    .main {
      justify-content: center;
    }
}
  
@media (max-width: 850px) {
.main {
    gap: 50px;
}

.buttons {
    width: 150px;
    gap: 16px;
}

.pick-size {
    margin-bottom: -4px;
}

.calculator {
    width: 400px;
    height: 400px;
}
}

@media (max-width: 650px) {
.title {
    font-size: 50px;
}

.main {
    flex-direction: column-reverse;
}

.calculator {
    width: 300px;
    height: 300px;
}
}